* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-user-drag: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button { 
  cursor: pointer;
  background-color: transparent;
  border: none;
}

ul {
  list-style-type: none;
}

img {
  pointer-events: none;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100%;
  background-color: rgb(14, 14, 14);
  color: rgb(238,238,240);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#root {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;  
  width: 100%;
  max-width: 1200px;
  margin: 50px 10px;
  padding-inline: 1em;
}

section {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 25px;
  color: rgb(155,172,186);
}


mark {
  background-color: blue;
}
